<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>Chat App</title>
  </head>

  <body>
    <header>
      <h1>Chat</h1>
    </header>

    <div>
      Your nickname is: <b><span id="nickname"></span></b>
    </div>

    <section>
      <div id="change_username">
        <input id="username" type="text" />
        <button type="button" id="send_username" class="btn btn-primary">Change username</button>
      </div>
    </section>

    <section id="chatroom">
      <section id="feedback"></section>
    </section>

    <br>

    <div class="input-group mb-3" id="input_zone">
      <input 
        id="message" 
        type="text" 
        class="form-control" 
        placeholder="your message" 
        aria-label="Recipient's username" 
        aria-describedby="basic-addon2"
        autofocus
      >
      <button id="send_message" type="button" class="btn btn-success">Send</button>
    </div>
    <script src="chat.js" webSocketConn="<%- webSocketConn %>"></script>
  </body>
</html>